.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  body, html {
    height: 100%;
    background-color: darkblue;
  }
  
  .bg {
    background-image: url("https://wallpaper.dog/large/20483555.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.link {
    color: rgb(60, 86, 232);
}

#text {
    background:  rgba(0, 0, 102, 0.8);
    height: 25px;
    border-radius: 7px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
}

#button {

    padding: 8px;
    width: 100px;
    color: black;
    background-color: rgb(60, 86, 232);
    border-radius: 7px;
    border: none;
}

#box {
    border-radius: 10px;
    background: rgba(0, 0, 102, 0.75);
    margin: auto;
    width: 300px;
    padding: 20px;
}